body {
    width: 420px;
}


#linechart svg{
    height: 300px;
}

#donutchart svg{
    height: 350px;
}

#piechart svg{
    height: 350px;
}

#bubblescatterchart svg{
    height: 400px;
}

#discretebar1 svg{
    height: 400px;
}

#stackedbar1 svg{
    height: 400px;
}

#stackedarea1 svg{
    height: 400px;
}
#streamedarea1 svg{
    height: 400px;
}
#expandedarea1 svg{
    height: 400px;
}